h1, h2{
    text-align: center;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    margin-bottom:5px;
    background-color: black;
    color: white;
    font-size: 24px;
    width: 100%;
}

#trainTimeTable{
    margin-bottom: 5px;
}

form {
    width: 100%;
}


#submit{
    width: 12%;
    margin-left: 90px;
    margin-bottom: 5px;
    background-color:black;
    color: white;
    border: 2px solid red;
    padding-top: 4px;
    padding-bottom: 4px;
}
#submit:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: translate(1px, 1px);
}
#trainName, 
#destination,
#trainTime,
#frequency {
    width: 100%;
    background-color: white;
    color:black;
}

#container-1{
    
    border: 3px solid black;
    margin-bottom: 20px;
}
#container-2{
    
    border: 3px solid black;

}

.card-header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
    padding-bottom: -10px;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    border-top: -10px solid black;
}
body{
    background-image: url(../images/train.jpg);
}

#container-1, #container-2 {
    background-color: white;
}

#submit{
    margin-bottom: 20px;
}
#container-2{
    margin-top: 20px;
}


